<div id="request-invite" class="modal" style="display: <%= @user.errors.any? ? 'block' : 'none';%>">
  <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>request an invite</h3>
    </div>
    <div class="modal-body">
      <%= f.error_notification %>
      <%= f.input :email, :placeholder => 'user@example.com' %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Request Invitation", :class => "modalbutton", :id => 'invitation_button' %>
    </div>
  <% end %>
</div>
<div id="romance-copy" class="iframe" style="text-align: center; margin-top: 80px">
  
  
  <div id="image">
    <a data-toggle="modal" href="#request-invite"> <%= image_tag("moziy-logo-trans.png")  %></a>
  
  </div>
  

  
</div>
<div id="call-to-action" style="text-align: center; margin-top: 80px">
  <a class="homebutton" data-toggle="modal" href="#request-invite">request invite</a>
</div>

